*
    box-sizing border-box

html,
body
    font 12px/1.5 sans-serif

.dashboard
    position relative

.report
    position absolute
    display block
    width 200px
    height 50px
    border 1px solid blue
